<header>
    <div class="container_img">
        <img 
            src="assets/img/foto_jp.jpg"
            alt="Juan Rodriguez - foto de perfil"
            width="130px"
            height="130px"
            loading="eager" 
        />
    </div>
    <h1>Juan Rodriguez</h1>
</header>

<aside>
    <div class="container">
        <p>Java | Angular | React</p>
        <p>Embu das Artes, São Paulo, Brasil</p>
        <p>
            Estou na área de desenvolvimento de software há mais de 5 anos.
            Atuo com maior foco em back-end Java/spring boot para desenvolvimento de microsserviços, 
            no front-end utilizo Angular com mais frequência e também React.
        </p>
        <nav>
            <ul>
                <li>
                    <a href="assets/pdf/CV_JUAN.pdf" target="_blank" class="btn btn-primary">Download CV</a>
                </li>
                <li>
                    <a href="https://linkedin.com/in/juan-rodriguez-89291a24" target="_blank" class="btn btn-secondary">LinkeIn</a>
                </li>
            </ul>
        </nav>

        <section>
            <figure>
                <img 
                    src="assets/icons/whatsapp.svg"
                    alt="Ícone para contato do whatsapp"
                    width="22px"
                    height="24px"
                />
                <figcaption>
                    <a
                        href="https://api.whatsapp.com/send?phone=5511979974894&text=Ol%C3%A1%20Juan,%20preciso%20de%20um%20job!"
                        target="_blank"
                    >
                        <strong>Envie uma menssagem para:</strong>
                        <p>WhatsApp: (11) 97997-4894</p>
                    </a>
                </figcaption>
            </figure>
            <figure>
                <img 
                    src="assets/icons/mail.svg"
                    alt="Ícone para contato de e-mail"
                    width="22px"
                    height="24px"
                />
                <figcaption>
                    <a
                        href="mailto:juanpapiro@hotmail.com"
                        target="_blank"
                    >
                        <strong>Envie um e-mail para:</strong>
                        <p>juanpapiro&#64;hotmail.com</p>
                    </a>
                </figcaption>
            </figure>
        </section>

    </div>
</aside>